
*{
	color: black;
}

body{
	background-color: darkslategray;
}

.div-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.div-submain{
	background-color: #fff;
    width: 1059px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 10px 8px 10px 8px;
    box-shadow: 0 0 2em black;
    border-radius: 5px;
}

.nav-wrapper{
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

.tbl-persons{
	width: 100%;
    margin-top: 20px;
}

.form-grup-search{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-grup-search form{
    width: 300px ;
}

.form-grup-search form button{
    width: 100%;
}

footer{
	display:flex;
	align-items: center ;
    justify-content: center;
    height: 50px;
    background-color: black;
    width:100%;
    position: relative;
    bottom: 0;
    color: yellow;
}