<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="/fragments/head :: head"></head>
<head> 
	<link rel="stylesheet" type="text/css" href="/css/loginStyle.css">
</head>

<body>
	<div class="content-main">
	<fieldset class="field-form">
	<legend>Login</legend>
		<form th:action="@{/login}" method="post">
			<div class="form-group">
				<label>Login:</label>
				<input type="text" name="username">
				
				<label>Senha:</label>
				<input type="password" name="password">
			</div>
			<div class="btns">
				<button type="submit" name="Logar">Logar</button>
				<a th:href="@{/visitante/cadastrovisitante}">Cadraste-se</a>
			</div>
			<p th:text="${error}"></p>
			
		</form>
	</fieldset>
	</div>
</body>
</html>