<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

	<header th:insert="fragments/header :: header"></header>
<head>
<link rel="stylesheet" href="/css/stylebase.css">
</head>

<div class="div-main">
	<div class="div-submain">
		<div class="form-group">
			<div class="title">CADASTRO DE FUNÇÕES</div>
			<div class="row" >
				<div class="col s12" th:each="user : ${usuarioObj}">
					<p>
						Nome: <span th:text="${user.nome}"></span>
					</p>
					<p>
						Login: <span th:text="${user.login}"></span>
					</p>
				</div>
			</div>

			<div class="form-group">
				<form th:action="@{/funcoes/adicionar/{userId}(userId=${usuarioObj.id})}" method="post" id="formRole" class="row">
					
					<div class="col s6">
						<label>Função</label> 
						<select class="browser-default" th:filed="*{id}" name="id">
							<option th:each="rol : ${roles}" th:value="${rol.id}" th:text="${rol.nomeRole}"></option>
							
						</select >
					</div>

					<div class="col s6">
						<label>Usuario ADMIN?</label>
							<div style="display: flex">
							<p style="margin-right: 8px;">
								<label> <input name="isAdmin" type="radio" value="1"
									 /> <span>SIM</span>
								</label>
							</p>
							<p>
								<label> <input name="isAdmin" type="radio" value="0"
									 checked="checked"/> <span>NÃO</span>
								</label>
							</p>
							</div>

						</div>

					

					<div class="col s12" style="margin-top:10px;">
						<button class="btn waves-effect waves-light" type="submit">Adicionar</button>
						<a href="/usuario/" class="btn waves-effect waves-light">Voltar</a>
						<p th:text="${msg}" class="col s12"></p>
					</div>
				</form>
			</div>

			<div class="tbl-persons col s12">
				<table class="striped">
					<thead>
						<tr>
							<th scope="col">ID:</th>
							<th scope="col">Nome</th>
							<th scope="col">Remover:</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="role : ${rolesUsuario}" >
							<td th:text="${role.id}"></td>
							<td th:text="${role.nomeRole}"></td>
							<td><a href="#"><i class="small material-icons" title="excluir">delete</i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="/js/script.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>