<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

	<header th:insert="fragments/header :: header"></header>
<head>
<link rel="stylesheet" href="/css/stylebase.css">
</head>

<div class="div-main">
	<div class="div-submain">
		<div class="form-group">
			<div class="title">ASSOCIAÇÃO DE FUNÇÕES À USUARIO</div>
			<div class="row" >
				<div class="col s12" th:each="user : ${usuarioObj}">
					<p>
						Nome: <span th:text="${user.nome}"></span>
					</p>
					<p>
						Login: <span th:text="${user.login}"></span>
					</p>
				</div>
			</div>

			<div class="form-group">
				<form action="/funcoes/adicionar" method="post" id="formRole" class="row">
					
					<div class="col s6">
						<label>Função</label>
						<div class="div-combo-with-btn"> 
						<select class="browser-default" th:filed="*{id}" name="role.id">
							<option th:each="rol : ${roles}" th:value="${rol.id}" th:text="${rol.nomeRole}"></option>
						</select >
						<a class="btn-floating waves-effect waves-light red" th:href="@{/profissoes/}"><i class="material-icons" title="Nova Função">add</i></a>
						</div>
					</div>
						<input type="text" name="usuario.id" hidden="hidden" th:value="${usuarioObj.id}">

					<div class="col s12" style="margin-top:10px;">
						<button class="btn waves-effect waves-light" type="submit">Adicionar</button>
						<a href="/usuario/" class="btn waves-effect waves-light">Voltar</a>
					</div>
					<div class="col s12" th:text="${msg}"></div>
				</form>
			</div>

			<div class="tbl-persons col s12">
				<table class="striped">
					<thead>
						<tr>
							<th scope="col">ID:</th>
							<th scope="col">Nome</th>
							<th scope="col">Remover:</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="rol : ${rolesUsuario}" >
							<td th:text="${rol.id}"></td>
							<td th:text="${rol.nomeRole}"></td>
							<td><a th:href="@{/funcoes/remover(idUser=${usuarioObj.id}, idRole=${rol.id})}">
							<i class="small material-icons" title="excluir">delete</i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="/js/script.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>