<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"></head>
<head><link rel="stylesheet" href="/css/stylebase.css"></head>

<body>



  <header th:replace="fragments/header :: header"></header>
  
  <div class="div-main">
    <div class="div-submain">
    <div class="form-group">
	    <div th:each="m : ${msg}">
	    	<span th:text="${m}"></span>
	    </div>
      <form action="salvarpessoa" method="post" th:object="${pessoaobj}" id="formPerson" class="row">
        <label>ID:</label>
        <input name="id" th:field="*{id}" readonly="readonly" id="idPerson">
        
        
        <div id="validate" class="valid col s6">
        <label for="">NOME:</label>
        <input type="text" name="nome" th:field="*{nome}" class="validate">
        <span id="msgValid" class="msgValid"></span>
        </div>
        
        <div id="validate" class="valid col s6">
        <label for="">SOBRENOME:</label>
        <input type="text" name="sobrenome" th:field="*{sobrenome}" class="validate" >
         <span id="msgValid" class="msgValid"></span>
        </div>
        
        
        <div id="validate" class="valid">
        <label for="">IDADE:</label>
        <input type="number" name="idade" th:field="*{idade}" class="validate" id="idade">
         <span id="msgValidIdade" class="msgValid"></span>
        </div>
        
        <input type="text" hidden="hidden" name="endereciId" th:field="*{endereco.id}">

        <div id="div-cep" class="valid col s6">
        	<label>CEP:</label>
          <input type="text" name="cep" class="validate" onblur="buscarViaCep();" th:field="*{endereco.cep}">
          <span id="msgValid" class="msgValid"></span>
        </div>

        <div class="valid col s6">
        	<label>RUA:</label>
          <input type="text" name="rua" class="validate" id="rua" th:field="*{endereco.rua}">
          <span id="msgValid" class="msgValid"></span>
        </div>

        <div class="valid col s6">
        	<label>BAIRRO:</label>
          <input type="text" name="bairro" class="validate" id="bairro" th:field="*{endereco.bairro}">
          <span id="msgValid" class="msgValid"></span>
        </div>

        <div class="valid col s6">
        	<label>CIDADE:</label>
          <input type="text" name="cidade" class="validate" id="cidade" readonly="readonly" th:field="*{endereco.cidade}">
          <span id="msgValid" class="msgValid"></span>
        </div>

        <div class="valid col s6">
        	<label>UF:</label>
          <input type="text" name="uf" class="validate" id="uf" readonly="readonly" th:field="*{endereco.uf}">
          <span id="msgValid" class="msgValid"></span>
        </div>

        <div class="valid col s6">
        	<label>NUMERO:</label>
          <input type="text" name="numero" class="validate" id="numero" th:field="*{endereco.numero}">
          <span id="msgValid" class="msgValid"></span>
        </div>
      
        
        <button class="btn waves-effect waves-light" type="submit">salvar</button>
        <button class="btn waves-effect waves-light" type="reset">Limpar</button>
      </form>
    </div>
	
    <div class="form-grup-search">
      <form action="findbyname" method="post" style="margin-top: 20px;">
        <input type="text" name="nome" placeholder="Buscar por nome">
        <button class="btn waves-effect waves-light" type="submit">BUSCAR</button>
      </form>
    </div>

    <div class="tbl-persons"sec:authorize="hasRole('ROLE_ADMIN')">
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th scope="col">ID:</th>
          <th scope="col">Nome:</th>
          <th scope="col">Sobrenome:</th>
          <th scope="col">Idade:</th>
          <th scope="col">Editar:</th>
          <th scope="col">Excluir:</th>
          <th scope="col">Telefone:</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="pessoa : ${pessoas}">
          <td th:text="${pessoa.id}"></td>
          <td th:text="${pessoa.nome}"></td>
          <td th:text="${pessoa.sobrenome}"></td>
          <td th:text="${pessoa.idade}"></td>
          <td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}"><i class="small material-icons" title="editar">edit</i></a></td>
          <td><a th:href="@{/excluirpessoa/{idpessoa}(idpessoa=${pessoa.id})}"><i class="small material-icons" title="excluir">delete</i></a></td>
          <td><a th:href="@{/telefone/init/{pessoaid}(pessoaid = ${pessoa.id})}"><i class="small material-icons" title="Telefones">contact_phone</i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </div>

  <footer class="footer">
    Spring boot
  </footer>
  
  
  <script type="text/javascript" src="/js/scriptpessoa.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>