<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>
<head><link rel="stylesheet" href="/css/stylebase.css"></head>
<div th:replace="fragments/preload :: preload"></div>
<body onload="loading();">
	

  <header th:replace="fragments/header :: header"></header>
  
  <div class="div-main">
    <div class="div-submain">
    <div class="form-group">
    	<div class="title">CADASTRO DE PESSOAS</div>
      <form action="salvarpessoa" method="post" th:object="${pessoaobj}" id="formPerson" class="formValidate row" enctype="multipart/form-data">
      
      	<div class="col s6 imgContainer">
        	<img th:if="${pessoaobj.fotoPessoa == null} " alt="Image" src="/img/user.png" id="imgPerfil">
        	<img th:if="${pessoaobj.fotoPessoa != null} " alt="Image" th:src="${pessoaobj.fotoPessoa.fotoBase64}" id="imgPerfil">
		</div>
		
		<input type="file" id="fotoPerfil" name="fotoPerfil" placeholder="Foto usuario" accept="image/*">
		<input type="text" id = "idFoto" th:field="*{fotoPessoa.id}" hidden="hidden">  
		  
      	<div class="col s6">
        <label>ID:</label>
        <input name="id" th:field="*{id}" readonly="readonly" id="idPerson">
        </div>
        
        <div id="validate" class="valid col s6">
        <label for="">NOME:</label>
        <input type="text" name="nome" th:field="*{nome}" class="validate">
        <span id="msgValid" class="msgValid"></span>
        </div>
        
        <div id="validate" class="valid col s6">
        <label for="">SOBRENOME:</label>
        <input type="text" name="sobrenome" th:field="*{sobrenome}" class="validate" >
         <span id="msgValid" class="msgValid"></span>
        </div>
        
        
        
        <div id="validate" class="valid col s6">
        <label for="">IDADE:</label>
        <input type="number" name="idade" th:field="*{idade}" class="validate" id="idade">
         <span id="msgValidIdade" class="msgValid"></span>
        </div>
        
        
        
       	<div class="col s6">
	       <label>SEXO:</label>
		  <select class="browser-default" th:field="*{sexo}">
		    <option value="FEMININO">Feminino</option>
		    <option value="MASCULINO">Masculino</option>
		  </select>
		</div>
		
		<div class="col s6">
	       <label>CARGO:</label>
		  <select class="browser-default" th:field="*{cargo}">
		    <option th:each="c : ${T(com.br.projetosbmvc.model.Cargo).values()}" th:value="${c}" th:text="${c}"></option>
		  </select>
		</div>
		
        
        <input type="text" hidden="hidden" name="endereciId" th:field="*{endereco.id}">

        <div id="div-cep" class="valid col s12">
        	<label>CEP:</label>
          <input type="number" name="cep" class="validate" onblur="buscarViaCep();" th:field="*{endereco.cep}" maxlength="8">
          <span id="msgValid" class="msgValid"></span>
        </div>

        <div class="valid col s6">
        	<label>RUA:</label>
          <input type="text" name="rua" class="validate" id="rua" th:field="*{endereco.rua}">
          <span id="msgValid" class="msgValid"></span>
        </div>

        <div class="valid col s6">
        	<label>BAIRRO:</label>
          <input type="text" name="bairro" class="validate" id="bairro" th:field="*{endereco.bairro}">
          <span id="msgValid" class="msgValid"></span>
        </div>

        <div class="col s6">
        	<label>CIDADE:</label>
          <input type="text" name="cidade" class="validate" id="cidade" readonly="readonly" th:field="*{endereco.cidade}">
          <span id="msgValid" class="msgValid"></span>
        </div>

        <div class="col s6">
        	<label>UF:</label>
          <input type="text" name="uf" class="validate" id="uf" readonly="readonly" th:field="*{endereco.uf}">
          <span id="msgValid" class="msgValid"></span>
        </div>

        <div class="valid col s6">
        	<label>NUMERO:</label>
          <input type="number" name="numero" class="validate" id="numero" th:field="*{endereco.numero}">
          <span id="msgValid" class="msgValid"></span>
        </div>
        
        <div class="col s6 div-contente-profisao">
	       <label>PROFISSÃO:</label>
	       <div class="div-combo-with-btn">
		  <select class="browser-default" th:field="*{profissao.id}">
		  	<option th:each="p : ${profissoes}" th:value="${p.id}" th:text="${p.nomeProfissoa}">
		  </select>
		   <a class="btn-floating waves-effect waves-light red" th:href="@{/profissoes/}"><i class="material-icons" >add</i></a>
		   </div>
		</div>
		
		<div class="col s12">
			<label>DATA DE NASCIMENTO:</label>
			<input type="text" class="datepicker" th:field="*{dataNascimento}" name="dataNascimento">
		</div>
    
      
     	<div class="col s12">
        <button class="btn waves-effect waves-light" type="submit">salvar</button>
        <button class="btn waves-effect waves-light" type="reset">Limpar</button>
        <a class="btn waves-effect waves-light" href="/cadastropessoa">Cancelar</a>
       </div>
       <p th:text="${msg}" class="col s12"></p>
       
      </form>
    </div>
	
    <div class="form-grup-search">
      <form action="findbyname" method="post" style="margin-top: 20px;" id="findbyname">
	      <label>Browser Select</label>
		  <select class="browser-default" name="sexopesquisa" th:value="${sexopesquisa}">
		    <option value="FEMININO">Feminino</option>
		    <option value="MASCULINO">Masculino</option>
		    <option value="">Todos</option>
		  </select>
      
        <input type="text" name="nomepesquisa" placeholder="Buscar por nome" th:value="${nomepesquisa}">
        
        <button class="btn waves-effect waves-light" type="submit" onclick="document.getElementById('findbyname').method = 'post';">BUSCAR</button>
        <button class="btn waves-effect waves-light" type="submit" onclick="document.getElementById('findbyname').method = 'get';">PDF</button>
      </form>
    </div>
	
    <div class="tbl-persons" >
    <!-- sec:authorize="hasRole('ROLE_ADMIN')" --> 
    <table class="striped responsive-table" >
      <thead>
        <tr>
          <th scope="col">ID:</th>
          <th scope="col">Nome:</th>
          <th scope="col">Sobrenome:</th>
          <th scope="col">Idade:</th>
          <th scope="col">Editar:</th>
          <th scope="col">Excluir:</th>
          <th scope="col">Telefone:</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="pessoa : ${pessoas}">
          <td th:text="${pessoa.id}"></td>
          <td th:text="${pessoa.nome}"></td>
          <td th:text="${pessoa.sobrenome}"></td>
          <td th:text="${pessoa.idade}"></td>
          <td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}"><i class="small material-icons" title="editar">edit</i></a></td>
          <td><a th:href="@{/excluirpessoa/{idpessoa}(idpessoa=${pessoa.id})}"><i class="small material-icons" title="excluir">delete</i></a></td>
          <td><a th:href="@{/telefone/init/{pessoaid}(pessoaid = ${pessoa.id})}"><i class="small material-icons" title="Telefones">contact_phone</i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  	
  	<div class="row paginator" style="margin-top:30px;" >
  		<center>
  			<span th:if="${pessoas.hasPrevious()}">
  				<a th:href="@{/paginator(page=${pessoas.number-1}, size=${pessoas.size}, nomepesquisa=${nomepesquisa}, sexopesquisa=${sexopesquisa} )}">Previous</a>
  			</span>
  			
  			<th:block th:each="i : ${#numbers.sequence(0,pessoas.totalPages - 1)}">
  				<a th:href="@{/paginator(page=${i},size=${pessoas.size}, nomepesquisa=${nomepesquisa}, sexopesquisa=${sexopesquisa})}">[[${i} + 1]]</a>
  			</th:block>
  			
  			<span th:if="${pessoas.hasNext()}">
  				<a th:href="@{/paginator(page=${pessoas.number+1}, size=${pessoas.size}, nomepesquisa=${nomepesquisa}, sexopesquisa=${sexopesquisa} )}">Next</a>
  			</span>
  		</center>
  	</div>
  
</div>
  </div>
 
  <script type="text/javascript" src="/js/scriptpessoa.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>