<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="/css/pessoastyle.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

</head>

<body>

  <header th:replace="fragments/header :: header"></header>
  
  <div class="div-main">
    <div class="div-submain">
    <div class="form-group">
	    <div th:each="m : ${msg}">
	    	<span th:text="${m}"></span>
	    </div>
      <form action="salvarpessoa" method="post" th:object="${pessoaobj}">
        <label>ID:</label>
        <input name="id" th:field="*{id}" readonly="readonly" id="idPerson">
        <label for="">Nome:</label>
        <input type="text" name="nome" th:field="*{nome}" class="validate" required="required">
        <label for="">sobrenome</label>
        <input type="text" name="sobrenome" th:field="*{sobrenome}" class="validate" required="required">
        <label for="">idade</label>
        <input type="number" name="idade" th:field="*{idade}" class="validate" required="required">
        <button class="btn waves-effect waves-light" type="submit">salvar</button>
        <button class="btn waves-effect waves-light" type="reset">Limpar</button>
      </form>
    </div>
	
    <div class="form-grup-search">
      <form action="findbyname" method="post" style="margin-top: 20px;">
        <input type="text" name="nome" placeholder="Buscar por nome">
        <button class="btn waves-effect waves-light" type="submit">BUSCAR</button>
      </form>
    </div>

    <div class="tbl-persons">
    <table class="striped">
      <thead>
        <tr>
          <th scope="col">ID:</th>
          <th scope="col">Nome:</th>
          <th scope="col">Sobrenome:</th>
          <th scope="col">Idade:</th>
          <th scope="col">Editar:</th>
          <th scope="col">Excluir:</th>
          <th scope="col">Telefone:</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="pessoa : ${pessoas}">
          <td th:text="${pessoa.id}"></td>
          <td th:text="${pessoa.nome}"></td>
          <td th:text="${pessoa.sobrenome}"></td>
          <td th:text="${pessoa.idade}"></td>
          <td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}"><i class="small material-icons" title="editar">edit</i></a></td>
          <td><a th:href="@{/excluirpessoa/{idpessoa}(idpessoa=${pessoa.id})}"><i class="small material-icons" title="excluir">delete</i></a></td>
          <td><a th:href="@{/telefone/init/{pessoaid}(pessoaid = ${pessoa.id})}"><i class="small material-icons" title="Telefones">contact_phone</i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </div>

  <footer class="footer">
    Spring boot
  </footer>
  
  
  <script type="text/javascript" src="/js/scriptpessoa.js"></script>
  <script type="text/javascript" src="/materialize/js/materialize.js"></script>
</body>

</html>