<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

  <header th:insert="fragments/header :: header"></header>
  <head><link rel="stylesheet" href="/css/stylebase.css"></head>
  
  <div class="div-main">
    <div class="div-submain">
    <div class="form-group">
      
       <div class="form-group">
       <p th:text="${msg}"></p>
       <form action="/profissoes/salvar" method="post" id="formProfissao" class="formValidate row" th:object="${profissaoObj}">
       		
       		<div class="col s6">
       			<label>ID::</label>
       			<input type="number" name="id" placeholder="ID" readonly="readonly" th:field="*{id}">
			</div>
       		
       		<div class="valid col s6">
       			<label>NOME:</label>
       			<input type="text" name="nomeProfissoa" placeholder="Ex: Programador" th:field="*{nomeProfissoa}">
       			<span id="validateMsg01"></span>
			</div>
			<div class="valid col s6">
				<label>SALARIO:</label>
				<input type="text" name="salario" th:field="*{salario}">
				<span></span>
			</div>
		
		<div class="col s12">
			<button class="btn waves-effect waves-light"  type="submit">Salvar</button>
			<a href="/cadastropessoa" class="btn waves-effect waves-light">Voltar</a>
		</div>
		
		</form>
		</div>

    <div class="tbl-persons">
    <table class="striped">
      <thead>
        <tr>
          <th scope="col">ID:</th>
          <th scope="col">Nome</th>
          <th scope="col">Salario:</th>
          <th scope="col">Excluir:</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="p : ${profissoes}">
          <td th:text="${p.id}"></td>
          <td th:text="${p.nomeProfissoa}"></td>
          <td th:text="${p.salario}"></td>
          <td><a th:href="@{/profissoes/edit/{profissaoId}(profissaoId=${p.id})}"><i class="small material-icons" title="excluir">edit</i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </div>
</div>
 
  
  <script type="text/javascript" src="/js/scripit.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>