<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

	<header th:insert="fragments/header :: header"></header>
<head>
<link rel="stylesheet" href="/css/stylebase.css">
</head>

<div class="div-main">
	<div class="div-submain">
		<div class="form-group">
			<div class="title">CADASTRO DE USUARIOS</div>
			<div class="form-group">
				<form action="/usuario/salvar" method="post" id="formUsuario" class="row" th:object="${usuarioObj}">
					
					<div class="col s12">
						<label>ID:</label>
						<input type="text" id="id" name="id" readonly="readonly" th:field="*{id}">
					</div>
					
					<div class="valid col s6">
						<label>Nome:</label>
						<input type="text" name="nome" id="nome" th:field="*{nome}"> 
						<span></span>
					</div>
					
					<div class="valid col s12">
						<label>Login:</label>
						<input type="text" name="login" id="login" th:field="*{login}"> 
						<span></span>
					</div>
					
					<div class="valid col s12">
						<label>Senha:</label>
						<input type="password" name="senha" id="senha" th:field="*{senha}"> 
						<span></span>
					</div>
					
					<div class="col s6">
						<label>Usuario ADMIN?</label>
							<div style="display: flex">
							<p style="margin-right: 8px;">
								<label> <input name="isAdmin" type="radio" value="1"
									 /> <span>SIM</span>
								</label>
							</p>
							<p>
								<label> <input name="isAdmin" type="radio" value="0"
									 checked="checked"/> <span>NÃO</span>
								</label>
							</p>
							</div>

						</div>

					<div class="col s12">
						<button class="btn waves-effect waves-light" type="submit">Salvar</button>
						<a href="/cadastropessoa" class="btn waves-effect waves-light">Voltar</a>
						<p th:text="${msg}" class="col s12"></p>
					</div>
				</form>
			</div>

			<div class="tbl-persons col s12">
				<table class="striped">
					<thead>
						<tr>
							<th scope="col">ID:</th>
							<th scope="col">Nome</th>
							<th scope="col">Login</th>
							<th scope="col">Excluir:</th>
							<th scope="col">Editar:</th>
							<th scope="col">Funções:</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="user : ${usuarios}">
							<td th:text="${user.id}"></td>
							<td th:text="${user.nome}"></td>
							<td th:text="${user.login}"></td>
							<td> <a th:href="@{/usuario/deletar/{idUser}(idUser = ${user.id})}"> <i class="small material-icons" title="excluir">delete</i></a></td>
							<td> <a th:href="@{/usuario/editar/{idUser}(idUser = ${user.id})}"> <i class="small material-icons" title="editar">edit</i></a></td>
							<td> <a th:href="@{/funcoes/{idUser}(idUser = ${user.id})}"> <i class="small material-icons" title="funções" >assignment_ind</i> </a> </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/script.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>